# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = baidu.settings

[deploy]
#url = http://localhost:6800/
# 这是部署到本地, 如果使用其他机器远程部署程序, 需将本地地址换成服务器的 IP 地址。
project = baidu